<% current_user.nil? ? @assigned_flights = Hash.new : @assigned_flights = current_user.arrival_flights.where(:flight_date => Date.today) %>
<%= render(:partial => 'shared/important_notice') %>
<div class="block">
  <h3>Today Flights</h3>
  <ul class="navigation">
    <% @assigned_flights.each do |af| %>
      <li>
        <%= link_to af.flight_no, arrival_flight_path(af) -%>
      </li>
    <% end %>
  </ul>
</div>