<div class="block notice">
  <h3>Important Notice</h3>
  <div class="content">
    <p>This is the revised TOC Goshow Management which is targeted to be deployed on 1st Jan 2012.</p>
    <p>All standby passengers must have have ID number</p>
  </div>
</div>
<div class="block">
  <h3>Briefing Dates</h3>
  <% start_date = Time.current.weeks_ago(-1) %>
  <ul class="navigation">
    <% 1.upto(15) do |d| %>
      <% date = start_date + -d.days %>
      <% if date.to_date == Time.current.to_date %>
        <li class="current-date">
          <%= link_to "Today", briefingposts_path(:date => date.to_date), :method => :get -%>
        <% else %>
        <li>
          <%= link_to l(date, :format => :date_only), briefingposts_path(:date => date.to_date), :method => :get -%>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>