<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="first">
      <%= link_to "Briefing", briefingposts_path %>
    </li>
    <li><%= link_to "Arrival Flts", arrival_flights_path %></li>
    <li>
      <%= link_to "Go Show", routings_path %>
    </li>
    <li class="active">
      <%= link_to "User Profile", "#" %>
    </li>
  </ul>
</div>