<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="first">
      <%= link_to "#{t("web-app-theme.new", :default => "Briefing")}", briefingposts_path %>
    </li>
    <li>
      <%= link_to "#{t("web-app-theme.all", :default => "Go Show")}", routings_path %>
    </li>
  </ul>
</div>