<div class="block notice">
  <h3>Important Notice</h3>
  <div class="content">
    <p>This is the revised TOC Goshow Management which is targeted to be deployed on 1st Jan 2012.</p>
    <p><span style="color:red; font-weight:bold;">All standby passengers must have have ID number</span></p>
  </div>
</div>