<div class="block notice">
  <h3><%= link_to "Important Notices", notices_path %> (<%= Notice.active_important_notices %>)</h3>
  <div class="content">
    <span style="color: red; font-weight: bold;">
      <%= current_important_notice %>
    </span>
  </div>
</div>