<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Go Show", routings_path  %></li>
      <li class="active"><%= link_to "Briefings", briefingposts_path %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">New Roster</h2>
    <div class="inner">
      <%= form_for :working_shift_staff, :url => working_shift_staffs_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'shared/sidebar') -%>