// Place all the styles related to the arrival_flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.arrival-flight-form {
    .group {
        clear: both;
        margin-bottom: 5px;
    }
    .arrival-label {
        width:300px;
        font-weight: bold;
        font-size: 1.2em;
    }
    .checkbox {
        padding-left: 10px;
    }
}

.information {
    vertical-align: top;
}

.arrival-flight-table {
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
    td {
        border-bottom: 1px solid #CCCCCC;
    }
    .header {
        text-align: left;
    }
}

.delay {
    background-color: #FF0000;
    font-weight: bold;
}

.notify {
    color: red;
    a {
        color: red;
    }
}