<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="first"><%= link_to "Go Show", routings_path  %></li>
    <li><%= link_to "Briefings", briefingposts_path  %></li>
    <li class="active"><%= link_to "Arrival Flts", arrival_flights_path  %></li>
    <% unless current_user.nil? %>
      <li class="pax-action"><%= link_to "New Flight", new_arrival_flight_path %></li>
    <% end -%>
  </ul>
</div>