<%= render(:partial => 'shared/important_notice') %>
<div class="block">
  <h3>Assigned Flights</h3>
  <ul class="navigation">
    <% assigned_flights.each do |arrival| -%>
      <li><%= link_to arrival_flight(arrival) %></li>
    <% end %>
  </ul>
</div>