<% open_dates = ArrivalFlight.open_flight_dates %>
<%= render(:partial => 'duty_staff') %>
<div class="block">
  <h3>Pending Documents</h3>
  <ul class="navigation">
    <% open_dates.each do |rec| %>
      <li>
        <% if rec.user_id.nil? %>
          <%= link_to "#{l(rec.flight_date, :format => :date_only)} - All Staff",
            arrival_flights_path(:is_approval => false, :date => l(rec.flight_date, :format => :date_only)) -%>
        <% else %>
          <%= link_to "#{l(rec.flight_date, :format => :date_only)} from #{User.find(rec.user_id).short_name}",
            arrival_flights_path(:is_approval => false, :date => l(rec.flight_date, :format => :date_only), :user_id => rec.user_id) -%>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>