<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <h2 class="title">Open/Pending Arrival Flights</h2>
    <div class="inner">
      <ul>
        <% c_date = Date.tomorrow %>
        <% @records.each do |record| %>
          <% if c_date != record.flight_date %>
            <li>
              <%= link_to record.flight_date, arrival_flights_path(:is_approval => false, :date => record.flight_date) %>
            </li>
            <% c_date = record.flight_date %>
          <% else %>
            + <%= User.find(record.user_id).name if !record.user_id.nil? %> - Pending Flights: <%= record.c_id %><br/>
          <% end %>
        <% end -%>
      </ul>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>